
/* 
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
*/

body {
	font-family: 'Segoe UI', 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	position: relative;
	cursor: default;
	margin: 0 auto;
	font-size: 16px;
	-webkit-box-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	perspective: 1px;
	transition: 200ms opacity;
	background-color: rgba(255, 255, 255, 0.75);
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 20px;
	position: fixed;
	right: 0;
	top: 0;
}

div {
	display: block;
}

.page {
	border-radius: 3px;
	-webkit-box-orient: vertical;
	transition: opacity 500ms ease;
	opacity: 1;
	box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
	color: #333;
	width: 500px;
	height: 400px;
	max-height: 640px;
	padding: 10px;
	z-index: -1919;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.page > .content-area {
	box-flex: 1;
	overflow: auto;
	padding: 6px 17px 6px;
	position: relative;
	margin: 0 auto;
}

#game-body {
	text-align: center;
	transition: opacity 500ms ease;
}

#game-body > :not(#message) {
	opacity: 0;
}

#board th:hover {
	background-color: #A1CBED;
}

#board th.selected {
	background-color: #3172B2;
}

#board, #board tr, #board th {
	border: solid 3px #888;
}

#board th.correct {
	background-color: #4BB754;
}

#board th {
	font-size: 20px;
	width: 24px;
	height: 24px;
	transition: background-color 250ms ease;
}

#board.failed th:not(.selected) {
	animation-name: scarlet-flash;
	animation-duration: 500ms;
	animation-timing-function: ease;
}

#board.timeup th:not(.correct) {
	background-color: #DE3838;
}

@keyframes scarlet-flash {
	0%, 100% {
		background-color: white;
	}
	50% {
		background-color: #DE3838;
	}
}

.page#game-result {
	opacity: 0;
	z-index: -114514;
}

#progress {
	background-color: #FF840A;
	position: fixed;
	top: 0;
	left: 0;
	height: 3px;
	margin-right: auto;
	z-index: 114514;
	width: 0%;
	transition: width 100ms ease;
}

.target {
	color: red;
}
















